*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.parent {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    height: 400px;
    background: #ccc;
    /* margin-right: 0px;
    margin-left: -15px; */
}

.child {
    /* display: inline-block; */
    flex-basis: 25%;
    color: #fff;
    text-align: center;
    background: #000;
    /* margin-right: 0px;
    margin-left: 15px;
    margin-bottom: 15px; */
}


@media screen and (max-width: 1140px) {
    .child {
        flex-basis: 33.3%;
    }
}


@media screen and (max-width: 1024px) {
    .child {
        flex-basis: 50%;
    }
}

@media screen and (max-width: 768px) {
    .child {
        flex-basis: 100%;
    }
}

.child:nth-child(1) {
    order: 3;
    background: #000;
}

.child:nth-child(2) {
    order: 4;
    background: #f00;
}

.child:nth-child(3) {
    order: 2;
    background: #0ff;
}

.child:nth-child(4) {
    order: 1;
    background: rgb(108, 26, 185);
}